.hierarchy {
  &-link {
    display     : list-item;
    cursor      : pointer;
    user-select : none;
  }

  &-item {
    position : relative;
  }

  &-options {
    position    : absolute;
    top         : 0;
    right       : 0;
    user-select : none;
    cursor      : pointer;
    display     : none;

    &.active, &:hover {
      display : inline-block;
    }
  }

  &-parent > &-link {
    list-style : disclosure-closed;

    &.down {
      list-style : disclosure-open;
    }
  }

  &-root {
    display     : none;
    margin-left : 1rem;
  }

  &-root.active {display : block;}
}