<form method="post" action="{{ path('newsfeed.delete', {'id': newsfeed.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ newsfeed.id) }}">
    <button class="btn">Delete</button>
</form>
