// Container
// ==============
.page-wrapper {
  display        : flex;
  flex-direction : column;
  width          : 100%;
  min-height     : 100vh;

  .wrapper {flex-grow : 1;}
}

%container,
.container {
  max-width      : 90rem;
  padding-inline : 2em;
  margin-inline  : auto;
}

.grid {
  display               : grid;
  grid-template-columns : repeat(auto-fit, minmax(15em, 1fr));
  justify-items         : center;
  grid-gap              : calc(var(--gap) * 3);
}

// Spacing
// ==================
@for $i from 0 through 5 {
  .p#{$i} {
    padding : #{$i}rem;
  }

  .pt#{$i} {
    padding-top : #{$i}rem;
  }

  .pb#{$i} {
    padding-bottom : #{$i}rem;
  }

  .px#{$i} {
    padding-left  : #{$i}rem;
    padding-right : #{$i}rem;
  }

  .py#{$i} {
    padding-top    : #{$i}rem;
    padding-bottom : #{$i}rem;
  }

  .my#{$i} {
    margin-top    : #{$i}rem;
    margin-bottom : #{$i}rem;
  }

  .m#{$i} {
    margin : #{$i}rem;
  }

  .mx#{$i} {
    margin-left  : #{$i}rem;
    margin-right : #{$i}rem;
  }

  .mt#{$i} {
    margin-top : #{$i}rem;
  }

  .mb#{$i} {
    margin-bottom : #{$i}rem;
  }

  .mr#{$i} {
    margin-right : #{$i}rem;
  }

  .ml#{$i} {
    margin-left : #{$i}rem;
  }
}

.mauto {margin : auto;}

// Position
// ==============
.relative {position : relative;}

// Flex
// ==============
.flex {
  display : flex;

  &.column {flex-direction : column;}

  &.align-center {align-items : center;}

  &.space-between {justify-content : space-between;}
}

.flex-center {
  justify-content : center;
  align-items     : center;
}

.justify-end {justify-self : end;}

@for $i from 0 through 5 {
  .gap-#{$i} {
    padding : #{$i}rem;
  }

  .gap-t#{$i} {
    padding-top : #{$i}rem 0 0 0;
  }

  .gap-b#{$i} {
    padding-bottom : 0 0 #{$i}rem 0;
  }

  .gap-x#{$i} {
    gap : 0 #{$i}rem;
  }

  .gap-y#{$i} {
    gap : #{$i}rem 0;
  }
}

// Colors
// ==============
.main-mark {color : hsl(var(--clr-accent))}

.color-success {color : hsl(var(--clr-success));}

.color-danger {color : hsl(var(--clr-danger));}

.color-info {color : hsl(var(--clr-info));}

.color-warning {color : hsl(var(--clr-warning));}

// Images
// ==============
.rounded {border-radius : 50%;}

// Keyframes
// ==============
@keyframes animate-top {
  from {top : -300px; opacity : 0}
  to {top : 0; opacity : 1}
}

// Stats
// ==============
.is-highlight {background-color : hsla(var(--clr-accent), .2);}