// Font face
// ==================
@include font-face('Montaga', '/public/build/front/fonts/montaga-regular', regular, null, woff2);
@include font-face('Merienda One', '/public/build/front/fonts/meriendaone-regular', regular, null, woff2);

// Titles
// ==================
%hero-title,
.hero-title {
  font-size   : 3.5em;
  font-family : var(--ff-accent);
  font-weight : 700;
  line-height : 1.2;
}

%hero-text,
.hero-text {
  font-size : 1.25em;
  hyphens   : auto;
}

%h1,
.h1 {
  font-weight : 700;
  font-style  : normal;
  font-size   : 2em;
  line-height : 1.2;
}

%h2,
.h2 {
  font-weight : 700;
  font-style  : normal;
  font-size   : 1.5em;
  line-height : 1.2;
}

%h3,
.h3 {
  font-weight : 700;
  font-style  : normal;
  font-size   : 1.25em;
  line-height : 1.3;
}

%h4,
.h4 {font-weight : bold;}

// links
// ==================
.link-line {text-decoration : underline;}

.link-color {color : var(--clr-widget);}

// Aligns
// ==================
.text-justify {text-align : justify;}

.text-center {text-align : center;}

.text-right {text-align : right;}

.text-upper {text-transform : uppercase;}

.text-strong {font-weight : bold;}

.text-small {font-size : var(--fs-200)}

// Lists
// ==================
.list-circle {list-style : circle;}

.list-circle-inside {list-style : inside circle;}
