.account-menu {
  border-top : 1px solid hsla(var(--clr-dark), .2);
  box-shadow : 0 10px 10px -1px hsla(var(--clr-dark), .3);

  &_lines, &_user, &_storage, &_badge, &_logout {border-top : 2px solid transparent;}

  &_logout {margin-left : auto;}

  &_lines:before, &_user:before, &_storage:before, &_badge:before, &_logout:before {
    display      : inline-block;
    width        : 1rem;
    height       : 1rem;
    font-size    : 1rem;
    margin-right : .5rem;
  }

  &_lines:before {content : url('/public/build/front/icons/lines.svg');}

  &_user:before {content : url('/public/build/front/icons/user.svg');}

  &_badge:before {content : url('/public/build/front/icons/badge.svg');}

  &_storage:before {content : url('/public/build/front/icons/storage.svg');}

  &_logout:before {
    content : url('/public/build/front/icons/logout.svg');
    color   : hsl(var(--clr-danger));
  }

  .active {
    border-top : 2px solid hsl(var(--clr-accent));
  }
}

.account-menu_profil {
  @include small-device {
    display    : flex;
    text-align : left;
  }

  text-align : center;
}

.account-menu_list {
  @include small-device {
    flex-direction : row;
  }

  display        : flex;
  flex-direction : column;
}

.account-badge {
  display               : grid;
  gap                   : 3rem 0;
  grid-template-columns : repeat(auto-fit, minmax(15rem, 1fr));
  text-align            : center;
}

.account-badge_trophy {
  opacity : .2;

  &.unlocked {
    opacity : 1;
  }
}

.account-badge_title {
  font-weight : bold;
  font-size   : var(--fs-400);
}

.menu-online {
  @include medium-device {justify-content : flex-start;}

  display         : flex;
  justify-content : center;
  align-items     : center;
  gap             : 0 .5rem;
}

.menu-online-dot {
  display       : inline-block;
  width         : .5rem;
  height        : .5rem;
  background    : hsl(var(--clr-danger));
  border-radius : 50%;

  &.online {background : hsl(var(--clr-success));}
}