.event {
  @include medium-device {flex-direction : row;}

  display        : flex;
  flex-direction : column;
  gap            : 0 calc(var(--gap) * 11);
  margin         : calc(var(--gap) * 5) auto auto;
  padding        : calc(var(--gap) * 3) calc(var(--gap) * 5);
  border-radius  : var(--border-radius-small);
  background     : hsl(var(--clr-widget));
  color          : hsl(var(--clr-light));
  cursor         : pointer;

  &[data-accordion='false'] .event-sortable {
    transform : rotateX(180deg);
  }
}

.event-header {
  @include big-device {flex-direction : row;}

  display         : flex;
  flex-direction  : column;
  gap             : var(--gap);
  align-items     : center;
  justify-content : center;
}

.event-sortable {
  display         : flex;
  align-items     : center;
  justify-content : center;
  margin-left     : auto;
  transition      : transform .3s ease-out;
}