.guild {
  @include medium-device {
    display               : grid;
    grid-template-columns : repeat(12, 1fr);
  }
  display        : flex;
  flex-direction : column;
  gap            : 1rem 0;
}

.guild-info {
  grid-column : 1/4;
}

.guild-content {
  grid-column : 5/span 8;
}

.guild-block {
  max-height : 25vh;
  overflow-y : auto;
}

.guild-list {
  display               : grid;
  grid-template-columns : repeat(auto-fit, minmax(5rem, 1fr));
}