// Abstracts
// ==================
@use 'abstracts/functions';
@use 'abstracts/mixins';
// Base
// ==================

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family : Montaga, Proxima Nova, system-ui, sans-serif;
    word-break  : break-word;
  }

  * {
    scrollbar-color : #573339 #90857A;
    scrollbar-width : thin;
  }
}

@layer components {
  .divider {
    &-before:before, &-after:after {
      content      : '';
      display      : block;
      max-width    : calc(.5em * 15);
      aspect-ratio : 5/1;
      margin       : .5em auto;
      background   : url('/public/build/front/tools/divider.svg') no-repeat center / contain;
    }
  }
}
