<nav id="sidebar" class="sidebar">
    <div class="sidebar-content">
        {# NAVIGATION WIDGET COVER #}
        <figure class="sidebar-bg"
                style="background: url('https://odindesignthemes.com/vikinger/img/cover/01.jpg') center center / cover no-repeat;"></figure>
        {# /NAVIGATION WIDGET COVER #}

        {# USER SHORT DESCRIPTION AVATAR #}
        {# HEXAGON #}
        <div class="hex">
            <div class="outside">
                <div class="inside">
                    <a class="user-short-description-avatar user-avatar medium" href="">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSW0vswHN3KFPAqUfnj4cjHndvqwag_5SPDUA&usqp=CAU"
                             alt="">
                    </a>

                </div>
            </div>
            {# /HEXAGON #}
        </div>
        {# USER AVATAR BADGE #}
        <div class="user-avatar-badge">
            {# USER AVATAR BADGE BORDER #}
            <div class="user-avatar-badge-border">
                {# HEXAGON #}
                <div class="hexagon-32-36"
                     style="width: 32px; height: 36px; position: relative;">
                    <canvas style="position: absolute; top: 0; left: 0;" width="32"
                            height="36"></canvas>
                </div>
                {# /HEXAGON #}
            </div>
            {# /USER AVATAR BADGE BORDER #}

            {# USER AVATAR BADGE CONTENT #}
            <div class="user-avatar-badge-content">
                {# HEXAGON #}
                <div class="hexagon-dark-26-28"
                     style="width: 26px; height: 28px; position: relative;">
                    <canvas style="position: absolute; top: 0; left: 0;" width="26"
                            height="28"></canvas>
                </div>
                {# /HEXAGON #}
            </div>
            {# /USER AVATAR BADGE CONTENT #}

            {# USER AVATAR BADGE TEXT #}
            <p class="user-avatar-badge-text">24</p>
            {# /USER AVATAR BADGE TEXT #}
        </div>
        {# /USER AVATAR BADGE #}
        {# /USER SHORT DESCRIPTION AVATAR #}

        {# USER SHORT DESCRIPTION TITLE #}
        <p class="user-short-description-title"><a href="">Marina Valentine</a>
        </p>
        {# /USER SHORT DESCRIPTION TITLE #}

        {# USER SHORT DESCRIPTION TEXT #}
        <p class="user-short-description-text"><a href="#">www.gamehuntress.com</a></p>
        {# /USER SHORT DESCRIPTION TEXT #}
    </div>

    {# BADGE LIST #}
    <div class="badge-list small">
        {# BADGE ITEM #}
        <div class="badge-item">
            <img src="" alt="badge-gold-s">
        </div>
        {# /BADGE ITEM #}

        {# BADGE ITEM #}
        <div class="badge-item">
            <img src="" alt="badge-age-s">
        </div>
        {# /BADGE ITEM #}

        {# BADGE ITEM #}
        <div class="badge-item">
            <img src="" alt="badge-caffeinated-s">
        </div>
        {# /BADGE ITEM #}

        {# BADGE ITEM #}
        <div class="badge-item">
            <img src="" alt="badge-warrior-s">
        </div>
        {# /BADGE ITEM #}

        {# BADGE ITEM #}
        <a class="badge-item" href="">
            <img src="" alt="badge-blank-s">
            {# BADGE ITEM TEXT #}
            <p class="badge-item-text">+9</p>
            {# /BADGE ITEM TEXT #}
        </a>
        {# /BADGE ITEM #}
    </div>
    {# /BADGE LIST #}

    {# USER STATS #}
    <div class="user-stats">
        {# USER STAT #}
        <div class="user-stat">
            {# USER STAT TITLE #}
            <p class="user-stat-title">930</p>
            {# /USER STAT TITLE #}

            {# USER STAT TEXT #}
            <p class="user-stat-text">posts</p>
            {# /USER STAT TEXT #}
        </div>
        {# /USER STAT #}

        {# USER STAT #}
        <div class="user-stat">
            {# USER STAT TITLE #}
            <p class="user-stat-title">82</p>
            {# /USER STAT TITLE #}

            {# USER STAT TEXT #}
            <p class="user-stat-text">friends</p>
            {# /USER STAT TEXT #}
        </div>
        {# /USER STAT #}

        {# USER STAT #}
        <div class="user-stat">
            {# USER STAT TITLE #}
            <p class="user-stat-title">5.7k</p>
            {# /USER STAT TITLE #}

            {# USER STAT TEXT #}
            <p class="user-stat-text">visits</p>
            {# /USER STAT TEXT #}
        </div>
        {# /USER STAT #}
    </div>
    {# /USER STATS #}

    {# MENU #}
    <ul class="menu">
        {# MENU ITEM #}
        <li class="menu-item">
            {# MENU ITEM LINK #}
            <a class="menu-item-link" href="">
                {# MENU ITEM LINK ICON #}
                <svg class="menu-item-link-icon icon-newsfeed">
                    <use xlink:href="#svg-newsfeed"></use>
                </svg>
                {# /MENU ITEM LINK ICON #}
                Newsfeed
            </a>
            {# /MENU ITEM LINK #}
        </li>
        {# /MENU ITEM #}

        {# MENU ITEM #}
        <li class="menu-item">
            {# MENU ITEM LINK #}
            <a class="menu-item-link" href="">
                {# MENU ITEM LINK ICON #}
                <svg class="menu-item-link-icon icon-group">
                    <use xlink:href="#svg-group"></use>
                </svg>
                {# /MENU ITEM LINK ICON #}
                Groups
            </a>
            {# /MENU ITEM LINK #}
        </li>
        {# /MENU ITEM #}

        {# MENU ITEM #}
        <li class="menu-item">
            {# MENU ITEM LINK #}
            <a class="menu-item-link" href="">
                {# MENU ITEM LINK ICON #}
                <svg class="menu-item-link-icon icon-members">
                    <use xlink:href="#svg-members"></use>
                </svg>
                {# /MENU ITEM LINK ICON #}
                Members
            </a>
            {# /MENU ITEM LINK #}
        </li>
        {# /MENU ITEM #}

        {# MENU ITEM #}
        <li class="menu-item">
            {# MENU ITEM LINK #}
            <a class="menu-item-link" href="">
                {# MENU ITEM LINK ICON #}
                <svg class="menu-item-link-icon icon-badges">
                    <use xlink:href="#svg-badges"></use>
                </svg>
                {# /MENU ITEM LINK ICON #}
                Badges
            </a>
            {# /MENU ITEM LINK #}
        </li>
        {# /MENU ITEM #}

        {# MENU ITEM #}
        <li class="menu-item">
            {# MENU ITEM LINK #}
            <a class="menu-item-link" href="">
                {# MENU ITEM LINK ICON #}
                <svg class="menu-item-link-icon icon-events">
                    <use xlink:href="#svg-events"></use>
                </svg>
                {# /MENU ITEM LINK ICON #}
                Events
            </a>
            {# /MENU ITEM LINK #}
        </li>
        {# /MENU ITEM #}
    </ul>
    {# /MENU #}
</nav>
