{% extends '@front/front.html.twig' %}

{% block description 'meta.description.account'|trans({'%user%': app.user.username})|capitalize %}
{% block title 'ui.account'|trans|capitalize %}

{% block body %}
    {% include '@front/account/_menu.html.twig' %}

    <section class="container mt2">
        <div class="card flash-info">
            {% for badge in badges %}
                {{ badge.name }}
            {% else %}
                Pas de badge
            {% endfor %}
        </div>
    </section>
{% endblock %}
