{% extends '@front/front.html.twig' %}

{% block description 'meta.description.notification'|trans({'%user%': app.user.username})|capitalize %}
{% block title 'ui.notifications'|trans|capitalize %}

{% block body %}
    {% include '@front/account/_menu.html.twig' %}

    <section class="container mt2">
        <ul class="notification-list">
            {% for notificationUser in notifications %}
                <li class="notification-item card dark {{ notificationUser.isRead ? '' : 'unread' }}">
                    {% include '@ui/notifications.html.twig' %}
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
