.modal {
  display          : none;
  position         : fixed;
  z-index          : z-index('modal');
  left             : 0;
  top              : 0;
  width            : 100%;
  height           : 100%;
  overflow         : auto;
  background-color : hsla(var(--clr-dark), .4);

  &.show {display : block;}
}

.modal-content {
  margin        : 15% auto; /* 15% from the top and centered */
  padding       : 0;
  border        : calc(var(--gap) / 10) solid hsl(var(--clr-widget));
  width         : 80%;
  position      : relative;
  background    : hsl(var(--clr-light));
  border-radius : var(--border-radius-small);
  box-shadow    : 0 calc(var(--gap) / 2) var(--gap) 0 hsla(var(--clr-dark), .2), 0 var(--gap) calc(var(--gap) * 3) 0 hsla(var(--clr-dark), .19);
  animation     : animate-top .3s ease-out;
}

.modal-header {
  display          : flex;
  justify-content  : space-between;
  align-items      : center;
  padding          : calc(var(--gap) / 4) calc(var(--gap) * 2);
  background-color : hsl(var(--clr-widget));
  color            : hsl(var(--clr-light));
}

.modal-close {
  color       : hsl(var(--clr-light));
  font-size   : var(--fs-600);
  font-weight : bold;
  cursor      : pointer;
}

.modal-body {padding : calc(var(--gap) * 2);}